# JetBrains
.idea/

# Rust
**/mutants.out*/
/target
**/*.rs.bk
*.pdb
debug
target

# bench
bench/compare/rust-vs-others/node/node_modules/
bench/compare/rust-vs-others/python/.venv/
bench/compare/rust-vs-others/swift/.build/
bench/compare/rust-vs-others/results/
bench/compare/rust-vs-others/python/__pycache__/
bench/compare/rust-vs-others/python/.pytest_cache/
bench/compare/rust-vs-others/python/.benchmarks/
bench/compare/backend/results/
bench/compare/**/__pycache__/
**/.build/