[package]
name = "app-store-server-library"
description = "The Rust server library for the App Store Server API and App Store Server Notifications"
version = "2.3.1"
repository = "https://github.com/namecare/app-store-server-library-rust"
homepage = "https://github.com/namecare/app-store-server-library-rust"
authors = ["tkhp", "namecare"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/app-store-server-library"
keywords = ["apple", "appstore"]
edition = "2021"

[dependencies]

# Cryptography
x509-parser = { version = "0.17.0", features = ["verify", "validate"] }
jsonwebtoken = { version = "9.3.0" }
ring = "0.17.8"
pem = "3.0.4"

# Serialization
serde = { version = "1.0.217", features = ["derive"] }
serde_json = { version = "1.0.138" }
serde_with = { version = "3.12.0", features = ["chrono"] }
serde_repr = "0.1.19"
uuid = { version = "1.12.1", features = ["serde", "v4"] }
chrono = { version = "0.4.39", features = ["serde"] }
base64 = "0.22.1"
asn1-rs = { version = "0.7.0", optional = true }

# Networking
reqwest = { version = "0.12.12", features = ["json"], optional = true }

# Utils
thiserror = "2.0.11"

# Tools
regex = { version = "1.11.1", optional = true }

[dev-dependencies]
http = "1.2.0"
tokio = { version = "1.43.0", features = ["test-util", "macros"] }
jsonwebtoken = { version = "9.3.0", features = ["use_pem"] }

[features]
api-client = ["dep:reqwest"]
receipt-utility = ["dep:asn1-rs", "dep:regex"]

